<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="return()">Regresar</ion-button>
    </ion-buttons>
    <ion-title>
      New Route
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img  alt="Silhouette of mountains" src="assets\heroes\marvel-spider.jpg" />
    <ion-card-header>
      <ion-card-title>Ruta Final</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Marvel
    </ion-card-content>
  </ion-card>
</ion-content>


