#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

// .small-image {
//   width: 200px;
//   height: auto; }


.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
}

.rotating-image {
  animation: vertical-rotation 5s infinite linear;
}

@keyframes vertical-rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}
